
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Back</title>
</head>
<body>
    <center>
        <h1>Add Succeded ✅</h1>
    </center>
    {% set y = app.request.request.get("username") %}
    {% set x = app.request.request.get("email") %}
    <h1>{{y}}</h1>
    <h1>{{x}}</h1>
    
    
</body>
</html>