<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>{{Detail.username}}</h1>
    <hr><br>
    <div style  = "display:flex;gap:1rem;align-items:center;">
        <img src="{{ asset(Detail.picture) }}" width="400px" >
        <h2>Email : {{Detail.email}}</h2>
    </div>

</body>
</html>